html, body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0px 0px;
  font-size: 18px
}
ul {
  list-style: none;
}
.modal-body {
  padding: 0px;
}
.navbar-custom {
  margin: 0px 0px;
  background-color: white;
  text-transform: uppercase;
  box-shadow: 0px 2px 3px #59A5D8;
}
.navbar-custom li a {
  border-top:white 3px solid;
  color: grey;
  font-size: 0.9em;
}

 .nav>li.active>a,  .nav>li>a:hover{
   border-top:#59A5D8 3px solid;
   background-color: white;
 }
.navbar-custom .navbar-brand {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}
.navbar-custom .navbar-toggle {
  border-color: #59A5D8
}
.navbar-custom .navbar-toggle span {
  background-color: black;
}
#intro {
  background: rgba(0, 0, 0, 0.7) url('../images/hero2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
}
.affix-top {
  opacity: 0;
}
.affix {
  opacity: 1;
  transition: all 1s;
}
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
}
#page-loader .page-loader-gif {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 21px;
  line-height: 100px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  background: url('../images/loading-blue.gif') 50% 0 no-repeat;
}
#intro .header-content-wrap {
  padding: 50px 0px;
  width: 100%;
}
#intro .header-content {
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}
#intro .header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
}
#intro hr, #skills hr, #portfolio hr, #testimonials hr, #contact hr {
  width: 10%;
  border: 1px solid #59a5d8;
  color: black;
  margin-bottom: 30px;
  margin-top: 0px;
}
#intro .header-content .animated-typing {
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  display: inline;
}
#intro #animated-typing-wrapper {
  display: inline-block;
  min-height: 130px;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 1.4em;
  position: relative;
  top: -2px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gh-btn-wrapper {
  display: block;
}
.gh-btn {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  border: 2px solid #59a5d8;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
.gh-btn:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.gh-btn-download {
  margin: 20px 20px;
  display: inline-block;
}
.gh-btn-know {
  margin: 0px 20px;
  display: inline-block;
}
.section-title {
  font-size: 3em;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 50px;
}
.subsection-title {
  color: grey;
}
#skills .fa-3x {
  color: #59a5d8;
}
.skills-wrap {
  margin: 50px 0px;
}
.skills-wrap ul {
  margin-top: 35px;
}
.skills-wrap ul li {
  text-align: left
}
.skillbar-title {
  padding: 5px 5px;
  font-size: 0.9em;
}
.skillbar {
  margin: 5px 5px;
}
#skills .progress {
  height: 15px;
}
#skills .progress-bar {
  background-color: #33658A;
}
#portfolio {
  background-color: #33658a;
}
#portfolio .section-title {
  color: white;
}
.work-tile {
  padding: 10px 20px;
}
#portfolio .work-tile img {
  width: 100%;
  cursor: pointer;
}
#portfolio .modal-title {
  float: left;
  font-size: 2em;
}
.work-tile-inner {
  position: relative;
}
.work-tiles-wrapper {
  width: 90%;
  margin: auto;
}
.work-tile-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.work-tile-info-content {
  padding: 20px 20px;
}
.work-tag {
  background-color: #034732;
  padding: 3px 8px;
  font-size: 0.8em;
  border-radius: 5px;
  display: inline-block;
}
.modal-top-icons {
  float: right;
}
.modal-top-icons, .modal-top-icons:hover {
  font-size: 2em;
  padding: 0px 10px;
  color: black;
  cursor: pointer;
}
#testimonials {
  background: rgba(0, 0, 0, 0.7) url('../images/handshake.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
#testimonials .section-title {
  color: white;
}
.testimonials-wrapper {
  margin: auto;
  width: 95%;
  margin-bottom: 50px;
}
.testimonials-award {
  width: 30%;
}
.testimonials-content {
  float: right;
  padding: 30px 30px;
  color: white;
  font-size: 1.2em;
  text-align: justify;
  margin-top: 5%;
}
#contact .form-control {
  display: block;
  width: 70%;
  margin: auto;
  padding: 20px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-message-wrapper {
  text-align: center;
}
#btn-message {
  border: 0px;
  background-color: #59a5d8;
  margin-bottom: 3%;
}
#btn-message:hover {
  color: white;
}
footer {
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 22px;
  }
}
