body {
  margin: 0px 0px;
  width: 100%;
  height: 100%;
  font-size: 18px
}
.navbar-custom {
  margin: 0px 0px;
  background-color: white;
  height: 50px;
  text-transform: uppercase;
  border-bottom: #59A5D8 3px solid;
}
.navbar-custom li a {
  color: grey;
  font-size: 0.9em;
}
.navbar-custom .navbar-brand {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}
.navbar-custom .navbar-toggle {
  border-color: #59A5D8
}
.navbar-custom .navbar-toggle span {
  background-color: black;
}
#intro {
  position: absolute;
  top: 50px;
  background: rgba(0, 0, 0, 0.7) url('../images/hero2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
}
#intro .header-content-wrap {
  margin-top: 50px;
  width: 100%;
}
#intro .header-content {
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}
#intro .header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
}
#intro hr {
  width: 10%;
  border: 1px solid #59a5d8;
  color: black;
  margin-bottom: 60px;
}
#intro .header-content .animated-typing {
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  display: inline;
}
#intro #animated-typing-wrapper{
  display: inline-block;
  min-height: 130px;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 1.4em;
  position: relative;
  top: -2px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-download {
  display: block;
  margin: auto;
  border: 2px solid #59a5d8;
  margin-top: 5%;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

/* Extra small devices (phones, up to 480px) */

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

/* tablets/desktops and up ----------- */

@media (min-width: 992px) and (max-width: 1400px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 22px;
  }
}
