html, body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0px 0px;
  font-size: 18px
}
ul {
  list-style: none;
}

.modal-body{
  padding: 0px;
}
.navbar-custom {
  margin: 0px 0px;
  background-color: white;
  height: 50px;
  text-transform: uppercase;
  box-shadow: 0px 2px 3px #59A5D8;
}
.navbar-custom li a {
  color: grey;
  font-size: 0.9em;
}
.navbar-custom .navbar-brand {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}
.navbar-custom .navbar-toggle {
  border-color: #59A5D8
}
.navbar-custom .navbar-toggle span {
  background-color: black;
}
#intro {
  background: rgba(0, 0, 0, 0.7) url('../images/hero2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
}
.affix-top {
  visibility: hidden;
}
.affix {
  visibility: visible;
}

#intro .header-content-wrap {
  padding: 50px 0px;
  width: 100%;
}
#intro .header-content {
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
}
#intro .header-content h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
}
#intro hr, #skills hr, #portfolio hr {
  width: 10%;
  border: 1px solid #59a5d8;
  color: black;
  margin-bottom: 60px;
  margin-top: 0px;
}
#intro .header-content .animated-typing {
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  display: inline;
}
#intro #animated-typing-wrapper {
  display: inline-block;
  min-height: 130px;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 1.4em;
  position: relative;
  top: -2px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gh-btn-wrapper {
  display: block;
}
.gh-btn {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  border: 2px solid #59a5d8;
  padding: 10px 20px;
}
.gh-btn:hover {
  background-color: white;
  color: black;
}
.gh-btn-download {
  margin: auto;
  margin-top: 5%;
}
.gh-btn-know {
  margin-left: 10%;
}
.section-title {
  font-size: 3em;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.subsection-title {
  color: grey;
}
#skills .fa-3x {
  color: #59a5d8;
}
.skills-wrap ul {
  margin-top: 35px;
}
.skills-wrap ul li {
  text-align: left
}
.skillbar-title {
  padding: 5px 5px;
  font-size: 0.9em;
}
.skillbar {
  margin: 5px 5px;
}
#skills .progress {
  height: 15px;
}
#skills .progress-bar {
  background-color: #33658A;
}

#portfolio{
  background-color: #33658a;
}
#portfolio .section-title{
  color: white;
}
#portfolio .work-tile img{
  width: 100%;
  cursor: pointer;
}

#portfolio .modal-title{
  float: left;
}
.modal-top-icons{
float: right;
}

.modal-top-icons,.modal-top-icons:hover{
  font-size: 30px;
  padding: 0px 10px;
  color: black;
  cursor: pointer;
}
/* Extra small devices (phones, up to 480px) */

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

/* tablets/desktops and up ----------- */

@media (min-width: 992px) and (max-width: 1400px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 22px;
  }
}
